<div>
<ng-switch on="lang.val">
<div ng-switch-when="en">

			<div class="parallax-bg parallaxBg1" style="background-position: 50% -99px;">
			<div class="container content parallax-about">
				<div class="title-box-v2">
					<h2>About <span class="color-green">PRINCIPAL SOLUTIONS</span></h2>
					<p>Principal Solutions has been delivering full cycle software development services to customers. Principal Solutions goals are in development, customization and integration of complex enterprise-level solutions, advanced web and mobile applications offering a well-balanced blend of technology skills, domain knowledge, hands-on experience, effective methodology and passion for IT.</p>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x icon-bell"></i>
							<div class="overflow-h">
								<h3>Our mission</h3>
								<p>Our ultimate goal is to add value to your business. We match our processes to fit your preferences, so you feel comfortable and secure outsourcing work to us. Our project managers and developers act as extensions of your existing organization instead of outsiders to seamlessly blend into your processes while bringing tangible cost savings.</p>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-magic"></i>
							<div class="overflow-h">
								<h3>Our vision</h3>
								<p>We focus on long term partnerships with our clients. This allows accumulating exclusive knowledge of the client’s business, which helps deliver the highest quality services with lower investments.</p>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-thumbs-o-up"></i>
							<div class="overflow-h">
								<h3>We are good at ...</h3>
								<p>Principal Solutions expetise are in development, customization and integration of complex enterprise-level solutions, advanced web and mobile applications offering a well-balanced blend of technology skills</p>
							</div>
						</div>
						<div class="margin-bottom-20"></div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="img/aboutcompany1.png" alt="">
					</div>
				</div>
			</div><!--/container-->
		</div>

</div>
<div ng-switch-when="ua">

		<div class="parallax-bg parallaxBg1" style="background-position: 50% -99px;">
			<div class="container content parallax-about">
				<div class="title-box-v2">
					<h2>Про <span class="color-green">ПРИНЦИПАЛ СОЛУШНЗ</span></h2>
					<p>Принципал Солушнз надає повний цикл розробки програмного забезпечення для клієнтів. Цілі Принципал Солушнз полягають у розвитку, налаштування і інтеграції комплексних рішень рівня підприємства, розширення веб- і мобільних додатків, пропозицію збалансованого поєднання технологій домену знань, практичного досвіду, ефективних методологій та пристрастю до них.</p>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x icon-bell"></i>
							<div class="overflow-h">
								<h3>Наша місія</h3>
								<p>Наша кінцева мета полягає в тому, щоб додати значення до вашого бізнесу. Ми підбираємо наші процеси з урахуванням Ваших уподобань, так що Ви відчуваєте, зручний і надійний аутсорсінг від нас. Наші менеджери проектів і розробники діють як розширення Вашої  організації а не ті, що є осторонь, плавно змішуються у Ваш процеси приносячи економію матеріальних витрат.</p>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-magic"></i>
							<div class="overflow-h">
								<h3>Наше бачення</h3>
								<p>Ми орієнтуємося на довгий термін партнерських відносин з нашими клієнтами. Це дозволяє накопичювати ексклюзивні знання бізнесу клієнта, що допомагає доставити послуги найвищої якості з малими затратами.</p>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-thumbs-o-up"></i>
							<div class="overflow-h">
								<h3>Ми маємо  досвід в ...</h3>
								<p>Принципал Солушнз  має досвід у розвитку, налаштування і інтеграції комплексних рішень рівня підприємства, розширення веб- і мобільних додатків, пропозицію збалансованого поєднання технологій домену знань, практичного досвіду, ефективних методологій та пристрастю до них.</p>
							</div>
						</div>
						<div class="margin-bottom-20"></div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="img/aboutcompany1.png" alt="">
					</div>
				</div>
			</div><!--/container-->
		</div>

</div>
</ng-switch>
</div>