<div>
	<ng-switch on="lang.val">
		<div ng-switch-when="en">

			<div class="container content-md">
				<h2>VALUE-ADDED SERVICING</h2>
					<div class="row margin-bottom-10">
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-phone"></i>
								<h2 class="heading-md">Free DMS consultation</h2>
								<p>We offer a free consultation program to help you identify which DMS solution fits your business needs better.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-cogs"></i>
								<h2 class="heading-md">DMS Maintenance & Support</h2>
								<p>We offer multiple maintenance and support scenarios for your DMS solution to ensure its reliable and secure operation.</p>
							</div>
						</div>
					</div>

					<div class="row margin-bottom-10">
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-graduation-cap"></i>
								<h2 class="heading-md">DMS Training</h2>
								<p>We provide training for DMS solutions to ensure smooth system launch and help your business derive maximum revenue from efficient data organization and employee collaboration.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-wrench"></i>
								<h2 class="heading-md">DMS Integration</h2>
								<p>Principal Solutions delivers integration solutions of DMS with processing and CRM systems, office applications and engineering software.</p>
							</div>
						</div>
					</div>
				</div>

			</div>


		<div ng-switch-when="ua">

			<div class="container content-md">
				<h2>ДОДАНА ВАРТІСТЬ ОБСЛУГОВУВАННЯ</h2>
					<div class="row margin-bottom-10">
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-phone"></i>
								<h2 class="heading-md">Безкоштовне консультування документообігу</h2>
								<p>Ми пропонуємо безкоштовну консультаційну програму, щоб допомогти вам визначити які рішення документообігу краще припасувати для Ваших бізнес-потреб.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-cogs"></i>
								<h2 class="heading-md">Обслуговування і підтримка документообігу</h2>
								<p>Ми пропонуємо декілька сценаріїв для обслуговування і підтримки Вашого рішення з документообігу для забезпечення його надійної і безпечної роботи.</p>
							</div>
						</div>
					</div>

					<div class="row margin-bottom-10">
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-graduation-cap"></i>
								<h2 class="heading-md">Навчання документообігу</h2>
								<p>Проводимо навчання для рішення з документообігу щодо забезпечення системи плавного запуску і допомогти Вашому бізнесу отримати максимальний дохід від ефективнї організації даних і співпраці співробітників.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="service-block service-block-brown">
								<i class="icon-custom icon-lg rounded-4x icon-color-light fa fa-wrench"></i>
								<h2 class="heading-md">Інтеграція документообігу</h2>
								<p>Principal Solutions забезпечує інтеграцію рішень документообігу з обробки та даних системи, офісних програм та інженерного програмного забезпечення.</p>
							</div>
						</div>
					</div>
				</div>

		</div>
	</ng-switch>
</div>