<div>
	<ng-switch on="lang.val">
		<div ng-switch-when="en">

			<div class="bg-grey">
			<div class="container content-sm">
				
				<h2>BUILDING USER-CENTRIC, WORKFLOW-ORIENTED SOLUTIONS</h2>
				<p>Our primary focus when developing and implementing document management solutions lies in business process automation facilitating operations for specific user roles at every stage of document life cycle. We offer our knowledge and skills in a number of DMS functional areas supplemented by system integration experience.</p>

				<div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-crosshairs"></i>
							<span>Capturing</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Automation of manual input routines</li>
							<li>Scanning, recognition and routing to initial destinations</li>
							<li>Assigning initial metadata</li>
							<li>Version management</li>
							<li>Data quality management</li>
						</ul>

					</div>
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa  fa-pencil-square"></i>
							<span>Processing</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Workflow design</li>
							<li>Workflow history audit</li>
							<li>Batch processing & aggregated documents</li>
							<li>Version control and workflow history audit</li>
							<li>Collaboration tools and workspaces</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-database"></i>
							<span>Storing</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Well-structured document storage</li>
							<li>Metadata based search</li>
							<li>Full text indexing and search</li>
							<li>Document life cycle management</li>
							<li>Document related task management</li>
						</ul>
					</div>
				</div>
				<!-- End Medium Content Boxes -->

				<!-- Medium Content Boxes -->
				<div class="row content-boxes-v2 content-boxes-v2-o">
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa  fa-key"></i>
							<span>Security</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Authentication and access control</li>
							<li>Digital signatures</li>
							<li>Data encryption</li>
							<li>Secure transactions</li>
						</ul>
					</div>
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-random"></i>
							<span>Integration</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>CRM, BI, Accounting, Inventory Management, Project Management systems</li>
							<li>Engineering applications</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-book"></i>
							<span>Reporting</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Document flow stats</li>
							<li>Metadata based reporting</li>
							<li>Aggregated documents</li>
						</ul>
					</div>
				</div>
				<!-- End Medium Content Boxes -->
			</div>
		</div>


		</div>
		<div ng-switch-when="ua">
		

		<div class="bg-grey">
			<div class="container content-sm">
				
				<h2>Побудова орієнтованих на користувача, орієнтованих на робочий цикл рішень</h2>
				<p>Наша основна сфера діяльності під час розробки та впровадження рішень з управління документообігом полягає в автоматизації бізнес-процесів на кожному етапі життєвого циклу документів, що сприяють операціям для конкретного користувача з відповідними ролями. Ми пропонуємо наші знання та навички в ряді функціональних зон управління документообігом доповнених досвідом з інтеграції систем.</p>

				<div class="row content-boxes-v2 content-boxes-v2-o margin-bottom-40">
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-crosshairs"></i>
							<span>Захоплення</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Автоматизація процедур ручного введення</li>
							<li>Сканування, розпізнавання та маршрутизація для початкового напрямку</li>
							<li>Призначення початкових метаданих</li>
							<li>Версія управління</li>
							<li>Якість управління даними</li>
						</ul>

					</div>
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa  fa-pencil-square"></i>
							<span>Обробка</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Дизайн робочого циклу</li>
							<li>Журналу аудиту</li>
							<li>Пакетна обробка та агрегація документів</li>
							<li>Контроль версій документообігу та історія аудиту</li>
							<li>Інструменти співпраці і робочих областей</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-database"></i>
							<span>Зберігання</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Зберігання добре структурованих документів</li>
							<li>Метадані на основі пошуку</li>
							<li>Повнотекстове індексування та пошук</li>
							<li>Життєвий цикл документообігу</li>
							<li>Управління завданнями пов’заними із документами</li>
						</ul>
					</div>
				</div>
				<!-- End Medium Content Boxes -->

				<!-- Medium Content Boxes -->
				<div class="row content-boxes-v2 content-boxes-v2-o">
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa  fa-key"></i>
							<span>Безпека</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Аутентифікація і контроль доступу</li>
							<li>Цифрові підписи</li>
							<li>Шифрування даних</li>
							<li>Забезпечення транзакцій</li>
						</ul>
					</div>
					<div class="col-sm-4 sm-margin-bottom-40">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-random"></i>
							<span>Інтеграція</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Управління ресурсами, бухгалтерським обліком, управління запасами, системи управління проектами</li>
							<li>Інжиніринг додатків</li>
						</ul>
					</div>
					<div class="col-sm-4">
						<h2 class="heading-sm overflow-h">
							<i class="icon-custom rounded-4x icon-md icon-bg-u fa fa-book"></i>
							<span>Представлення звітів</span>
						</h2>
						<hr class="no-margin margin-bottom-10">
						<ul>
							<li>Документ потоку статистики</li>
							<li>Звітность на підставі метаданих</li>
							<li>Агреговані документи</li>
						</ul>
					</div>
				</div>
				<!-- End Medium Content Boxes -->
			</div>
		</div>



		</div>
	</ng-switch>
</div>