<div>
<div ng-switch on="blockThreeColNumber">

<div ng-switch-when="blockNumber1">
	<div class="container content-md">
		<div class="row">
			<div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
				<i class="rounded-x {{itemclass.char1}}"></i>
				<h1 class="title-v3-md text-uppercase margin-bottom-10">{{items.title1}}</h1>
				<p>{{items.parag1}}</p>
			</div>
			<div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
				<i class="rounded-x {{itemclass.char2}}"></i>
				<h2 class="title-v3-md text-uppercase margin-bottom-10">{{items.title2}}</h2>
				<p>{{items.parag2}}</p>
			</div>
			<div class="col-md-4 content-boxes-v6">
				<i class="rounded-x {{itemclass.char3}}"></i>
				<h2 class="title-v3-md text-uppercase margin-bottom-10">{{items.title3}}</h2>
				<p>{{items.parag3}}</p>
			</div>
		</div>
	</div>
</div>

<div ng-switch-when="blockNumber2">
	<div class="service-block-v5">
		<div class="container">
			<div class="row equal-height-columns">
				<div class="col-md-4 service-inner equal-height-column" style="height: 358px;">
					<i class="icon-custom icon-md rounded-x icon-bg-u {{itemclass.char1}}"></i>
					<span>{{items.title1}}</span>
					<p>{{items.parag1}}</p>
				</div>
				<div class="col-md-4 service-inner equal-height-column service-border" style="height: 358px;">
					<i class="icon-custom icon-md rounded-x icon-bg-u {{itemclass.char2}}"></i>
					<span>{{items.title2}}</span>
					<p>{{items.parag2}}</p>
				</div>
				<div class="col-md-4 service-inner equal-height-column" style="height: 358px;">
					<i class="icon-custom icon-md rounded-x icon-bg-u {{itemclass.char3}}"></i>
					<span>{{items.title3}}</span>
					<p>{{items.parag3}}</p>
				</div>
			</div><!--/end row-->
		</div><!--/end container-->
	</div>
</div>

<div ng-switch-when="blockNumber3">
	<div class="service-block-v4">
		<div class="container content-md">
			<div class="row">
				<div class="col-md-4 service-desc md-margin-bottom-50">
					<i class="{{itemclass.char1}}"></i>
					<h3>{{items.title1}}</h3>
					<p class="no-margin-bottom">{{items.parag1}}</p>
				</div>
				<div class="col-md-4 service-desc md-margin-bottom-50">
					<i class="{{itemclass.char2}}"></i>
					<h3>{{items.title2}}</h3>
					<p class="no-margin-bottom">{{items.parag2}}</p>
				</div>
				<div class="col-md-4 service-desc">
					<i class="{{itemclass.char3}}"></i>
					<h3>{{items.title3}}</h3>
					<p class="no-margin-bottom">{{items.parag3}}</p>
				</div>
			</div><!--/end row-->
		</div><!--/end container-->
	</div>
</div>

<div ng-switch-when="blockNumber4">
	<div class="container content-sm">
		<div class="row content-boxes-v1">
			<div class="col-sm-4 md-margin-bottom-40">
				<h2 class="heading-md">
					<i class="icon-custom rounded icon-md icon-color-dark {{itemclass.char1}}"></i>
					<span>{{items.title1}}</span>
				</h2>
				<p>{{items.parag1}}</p>
			</div>
			<div class="col-sm-4 md-margin-bottom-40">
				<h2 class="heading-md">
					<i class="icon-custom rounded icon-md icon-color-dark {{itemclass.char2}}"></i>
					<span>{{items.title2}}</span>
				</h2>
				<p>{{items.parag2}}</p>
			</div>
			<div class="col-sm-4">
				<h2 class="heading-md">
					<i class="icon-custom rounded icon-md icon-color-dark {{itemclass.char3}}"></i>
					<span>{{items.title3}}</span>
				</h2>
				<p>{{items.parag3}}</p>
			</div>
		</div>
	</div>
</div> 

<div ng-switch-when="blockNumber5">
	<div class="container content-sm">
		<div class="row content-boxes-v1 margin-bottom-40">
			<div class="col-sm-4 md-margin-bottom-40">
				<h2 class="heading-md">
					<i class="icon-custom rounded icon-md icon-bg-dark {{itemclass.char1}}"></i>
					<span>{{items.title1}}</span>
				</h2>
				<p>{{items.parag1}}</p>
			</div>
			<div class="col-sm-4 md-margin-bottom-40">
				<h2 class="heading-md">
					<i class="icon-custom rounded icon-md icon-bg-dark {{itemclass.char2}}"></i>
					<span>{{items.title2}}</span>
				</h2>
				<p>{{items.parag2}}</p>
			</div>
			<div class="col-sm-4">
				<h2 class="heading-md">
					<i class="icon-custom rounded icon-md icon-bg-dark {{itemclass.char3}}"></i>
					<span>{{items.title3}}</span>
				</h2>
				<p>{{items.parag3}}</p>
			</div>
		</div>
	</div>
</div>

<!-- <div ng-switch-when="blockNumber2">2</div> -->

</div> <!-- switch -->
</div>