<div>

	<div class="container content">
		<div class="row margin-bottom-40">

			<div class="col-md-3 col-sm-5 col-md-offset-3 col-sm-offset-1">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Web Servers</h3>
						<h4>Java</h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li><i class="fa fa-coffee"></i> JBoss </li>
						<li><i class="fa fa-coffee"></i> BEA WebLogic Server </li>
						<li><i class="fa fa-coffee"></i> Apache Tomcat </li>
						<li><i class="fa fa-coffee"></i> Oracle Application Server </li>
						<li><i class="fa fa-coffee"></i> Resin 	</li>								
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Libs</h3>
						<h4>Java</h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li><i class="fa fa-coffee"></i> J2EE, J2SE, SWING </li>
						<li><i class="fa fa-coffee"></i> Java servlet </li>
						<li><i class="fa fa-coffee"></i> Spring </li>
						<li><i class="fa fa-coffee"></i> Hibernate </li>
						<li><i class="fa fa-coffee"></i> Struts </li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Tech</h3>
						<h4>HTML</h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li><i class="fa fa-cloud"></i> HTML </li>
						<li><i class="fa fa-cloud"></i> CSS </li>
						<li><i class="fa fa-cloud"></i> AJAX </li>
						<li><i class="fa fa-cloud"></i> jQuery </li>
						<li><i class="fa fa-cloud"></i> AmgularJS </li>
					</ul>
				</div>
			</div>


		</div>


		<div class="row margin-bottom-40">

			<div class="col-md-3 col-sm-5 col-md-offset-3 col-sm-offset-1">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Planning</h3>
						<h4>Proj</h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li><i class="fa fa-pencil-square-o"></i> MS Project </li>
						<li><i class="fa fa-pencil-square-o"></i> JIRA </li>
						<li><i class="fa fa-pencil-square-o"></i> Microsoft Visio </li>
						<li><i class="fa fa-pencil-square-o"></i> Eclipse </li>
						<li><i class="fa fa-pencil-square-o"></i> IntelliJ IDEA </li>								
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>Testing</h3>
						<h4>Soft</h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li><i class="fa fa-check-circle-o"></i> JUnit </li>
						<li><i class="fa fa-check-circle-o"></i> EasyMock </li>
						<li><i class="fa fa-check-circle-o"></i> Mockito </li>
						<li><i class="fa fa-check-circle-o"></i> Git </li>
						<li><i class="fa fa-check-circle-o"></i> SVN </li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing hover-effect">
					<div class="pricing-head">
						<h3>DB</h3>
						<h4>Data</h4>
					</div>
					<ul class="pricing-content list-unstyled">
						<li><i class="fa fa-database"></i> MS SQL Server </li>
						<li><i class="fa fa-database"></i> PostgreSQL </li>
						<li><i class="fa fa-database"></i> MySQL </li>
						<li><i class="fa fa-database"></i> Oracle </li>
						<li><i class="fa fa-database"></i> NoSQL </li>
					</ul>
				</div>
			</div>


		</div>

	</div>

</div>