<div>

	<div class="container content">
		<div class="row pricing-table-v3">

			<div class="col-md-3 col-sm-5 col-md-offset-3 col-sm-offset-1">
				<div class="pricing-v3 pricing-v3-dark-blue">
					<div class="pricing-v3-head text-center">
						<h4>FRAMEWORKS</h4>
						<h5>PHP</h5>
					</div>
					<ul class="list-unstyled pricing-v3-content">
						<li>YII<i class="fa  fa-hand-o-left"></i></li>
						<li>Laravel<i class="fa  fa-hand-o-left"></i></li>
						<li>Symfony<i class="fa  fa-hand-o-left"></i></li>
						<li>PHP Cake<i class="fa  fa-hand-o-left"></i></li>
						<li>CodeIgniter<i class="fa  fa-hand-o-left"></i></li>
						<li>Recess<i class="fa  fa-hand-o-left"></i></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing-v3 pricing-v3-dark-blue">
					<div class="pricing-v3-head text-center">
						<h4>ECOMMERCE</h4>
						<h5>PHP</h5>
					</div>
					<ul class="list-unstyled pricing-v3-content">
						<li>osCommerce<i class="fa  fa-hand-o-left"></i></li>
						<li>Magento<i class="fa  fa-hand-o-left"></i></li>
						<li>VirtueMart<i class="fa  fa-hand-o-left"></i></li>
						<li>OpenCart<i class="fa  fa-hand-o-left"></i></li>
						<li>Ubercart<i class="fa  fa-hand-o-left"></i></li>
						<li>Drupal<i class="fa  fa-hand-o-left"></i></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing-v3 pricing-v3-dark-blue">
					<div class="pricing-v3-head text-center">
						<h4>FRONTEND</h4>
						<h5>PHP</h5>
					</div>
					<ul class="list-unstyled pricing-v3-content">
						<li>HTML/CSS<i class="fa   fa-html5"></i></li>
						<li>jQuery<i class="fa   fa-html5"></i></li>
						<li>Prototype<i class="fa   fa-html5"></i></li>
						<li>AJAX/JSON<i class="fa   fa-html5"></i></li>
						<li>JavaScript<i class="fa   fa-html5"></i></li>
						<li>ExtJS<i class="fa   fa-html5"></i></li>
					</ul>
				</div>
			</div>


		</div>


		<div class="row pricing-table-v3">

			<div class="col-md-3 col-sm-5 col-md-offset-3 col-sm-offset-1">
				<div class="pricing-v3 pricing-v3-dark-blue">
					<div class="pricing-v3-head text-center">
						<h4>BACKEND</h4>
						<h5>PHP</h5>
					</div>
					<ul class="list-unstyled pricing-v3-content">
						<li>LAMP stack<i class="fa  fa-hand-o-left"></i></li>
						<li>Apache<i class="fa  fa-hand-o-left"></i></li>
						<li>Nginx<i class="fa  fa-hand-o-left"></i></li>
						<li>Nginx Modules<i class="fa  fa-hand-o-left"></i></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing-v3 pricing-v3-dark-blue">
					<div class="pricing-v3-head text-center">
						<h4>DATABASES</h4>
						<h5>PHP</h5>
					</div>
					<ul class="list-unstyled pricing-v3-content">
						<li>MySQL<i class="fa  fa-database"></i></li>
						<li>Oracle<i class="fa  fa-database"></i></li>
						<li>Mongo<i class="fa  fa-database"></i></li>
						<li>Redis<i class="fa  fa-database"></i></li>
						<li>CouchDB<i class="fa  fa-database"></i></li>
						<li>PostgreSQL<i class="fa  fa-database"></i></li>
					</ul>
				</div>
			</div>

			<div class="col-md-3 col-sm-5">
				<div class="pricing-v3 pricing-v3-dark-blue">
					<div class="pricing-v3-head text-center">
						<h4>TOOLS</h4>
						<h5>PHP</h5>
					</div>
					<ul class="list-unstyled pricing-v3-content">
						<li>Google API<i class="fa  fa-hand-o-left"></i></li>
						<li>Facebook API<i class="fa  fa-hand-o-left"></i></li>
						<li>Yahoo API<i class="fa  fa-hand-o-left"></i></li>
						<li>Worldpay API<i class="fa  fa-hand-o-left"></i></li>
						<li>Amazon AWS<i class="fa  fa-hand-o-left"></i></li>
						<li>Twitter API<i class="fa  fa-hand-o-left"></i></li>
						<li>eBay API<i class="fa  fa-hand-o-left"></i></li>
						<li>PayPal API<i class="fa  fa-hand-o-left"></i></li>
					</ul>
				</div>
			</div>


		</div>

	</div>

</div>